@model Sistema.TSTOnline.Web.Models.MovimentacaoFinanceira.ContasReceberVM
@using Sistema.TSTOnline.Domain.Utils;

@{
    var newRegister = Model == null;
    var labelButton = "Cadastrar Novo Título";

    if (newRegister)
    {
        ViewData["Title"] = "NOVO TÍTULO";
    }
    else
    {
        ViewData["Title"] = "EDITAR TÍTULO";
        labelButton = "Atualizar Título";
    }

    var IDEmpresa = 0;
    if (Model != null)
    {
        IDEmpresa = Model.IDEmpresa;
    }
}

<form id="frmContasReceber" asp-action="ContasReceberCreateOrUpdate" asp-controller="MovimentacaoFinanceira"
      data-ajax="true" data-ajax-method="POST" data-ajax-failure="formOnFail" data-ajax-success="window.location='/movimentacaofinanceira/contasreceber'">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO TÍTULO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-2 col-lg-2">
                        @Html.HiddenFor(m => m.IDContasReceber, new { id = "idContasReceber" })
                        @Html.TextBoxFor(m => m.IDContasReceber, new { @class = "form-control", @placeholder = "Código", @disabled = "disabled" })
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        @Html.TextBoxFor(m => m.NumeroTitulo, new { @class = "form-control", @maxlength = "45", @placeholder = "Número do Título", @required = "true" })
                    </div>

                    <div class="col-sm-3 col-lg-3">
                        @Html.TextBoxFor(m => m.DataVencimento, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @title = "Data de Vencimento do Título", @data_toggle = "tooltip", @required = "true" })
                    </div>

                    <div class="col-sm-3 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">R$</span>
                            @Html.TextBoxFor(m => m.Valor, new { id = "txtValor", name = "txtValor", @class = "form-control", @maxlength = "20", @placeholder = "Valor", @required = "true" })
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO CLIENTE</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalEmpresa"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.RazaoSocial, new { id = "RazaoSocial", @class = "form-control", @maxlength = "150", @placeholder = "Razão Social", @readonly = "readonly", @required = "true" })
                        <input type="hidden" name="idEmpresa" id="idEmpresa" value="@IDEmpresa">
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save fa-lg"></i> @labelButton
                            </button>
                            <button type="button" onclick="javascript:window.location='/movimentacaofinanceira/contasreceber'" class="btn btn-danger">
                                <i class="fas fa-undo fa-lg"></i> Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_BuscarEmpresaPartial.cshtml")


@section Scripts{

    <script src="~/js/cadastros/empresaPesquisa.js?v=@Helper.GetVersion()"></script>

    <script>
        $(function () {
            $('#txtValor').mask("#.##0,00", { reverse: true });
        });
    </script>
}