@model Sistema.TSTOnline.Web.Models.PedidoVenda.PedidoVendaVM
@using Sistema.TSTOnline.Domain.Interfaces
@using Sistema.TSTOnline.Domain.Entities.Produtos
@using Sistema.TSTOnline.Domain.Services.Usuario
@using Sistema.TSTOnline.Domain.Utils

@inject IRepository<ProdutoEN> _produtoRepository
@inject UsuarioService _usuarioService

@{
    var newRegister = Model == null;
    var labelButton = "Cadastrar Novo Pedido de Venda";

    if (newRegister)
    {
        ViewData["Title"] = "NOVO PEDIDO DE VENDA";
    }
    else
    {
        ViewData["Title"] = "EDITAR PEDIDO VENDA";
        labelButton = "Atualizar Pedido Venda";
    }

    int idCompany = _usuarioService.GetCompanyId();
    var listTiposPagamento = Enum.GetValues(typeof(TipoPagamentoEnum)).Cast<TipoPagamentoEnum>().ToList();
    var listQtdeParcelas = Enum.GetValues(typeof(QtdeParcelasEnum)).Cast<QtdeParcelasEnum>().ToList();
    var IDVendedor = 0;
    var IDEmpresa = 0;
    var disabled = false;
    if (Model != null)
    {
        IDVendedor = Model.IDVendedor;
        IDEmpresa = Model.IDEmpresa;
        if (Model.Status != PedidoVendaStatusEnum.Aberto)
        {
            disabled = true;
        }
    }

}

<form id="frmPedidoVenda">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO PEDIDO DE VENDA</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-2 col-lg-2">
                        @Html.HiddenFor(m => m.IDPedido, new { id = "idPedido" })
                        @Html.HiddenFor(m => m.Status, new { id = "statusPedido" })
                        @Html.TextBoxFor(m => m.IDPedido, new { @class = "form-control", @placeholder = "Código", @disabled = "disabled" })
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        @Html.TextBoxFor(m => m.DataVenda, "{0:yyyy-MM-dd}", @disabled ? (object)new { @class = "form-control", @readonly = "readonly" } : new { @type = "date", @class = "form-control", @title = "Data Efetiva da Venda", @data_toggle = "tooltip" })
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO VENDEDOR</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        @if (disabled)
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalVendedor" disabled><i class="fa fa-search fa-lg"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalVendedor"><i class="fa fa-search fa-lg"></i></button>
                        }
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.VendedorNome, new { id = "VendedorNome", @class = "form-control", @maxlength = "150", @placeholder = "Nome", @readonly = "readonly" })
                        <input type="hidden" name="idVendedor" id="idVendedor" value="@IDVendedor">
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO CLIENTE</span></h5>
                    </div>
                </div>

                @if (newRegister)
                {
                    <div class="row" style="margin-top: 1%;">

                        <div class="col-sm-4 col-lg-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="chkClienteSemCadastro" style="height:30px; width:30px;" name="chkClienteSemCadastro">
                                <label class="form-check-label" for="chkClienteSemCadastro" style="cursor:pointer;font-weight:bold;">CLIENTE SEM CADASTRO?</label>
                            </div>
                        </div>

                    </div>

                    <div id="divClienteSemCadastro" style="display:none;">
                        <div class="row" style="margin-top: 1%;">

                            <div class="col-sm-1 col-lg-1">
                                <input type="radio" id="SC_PF" name="tipoPessoa" value="1" checked="checked" style="height:30px; width:30px;"> FÍSICA
                            </div>

                            <div class="col-sm-1 col-lg-1">
                                <input type="radio" id="SC_PJ" name="tipoPessoa" value="2" style="height:30px; width:30px;"> JURÍDICA
                            </div>

                        </div>
                        <div class="row" style="margin-top: 1%;">

                            <div class="col-sm-4 col-lg-4" id="SC_CPF">
                                @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", @maxlength = "14", @placeholder = "CPF", @data_mask = "000.000.000-00" })
                            </div>

                            <div class="col-sm-4 col-lg-4" id="SC_CNPJ" style="display:none;">
                                @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", @maxlength = "19", @placeholder = "CNPJ", @data_mask = "00.000.000/0000-00" })
                            </div>

                            <div class="col-sm-8 col-lg-8">
                                @Html.TextBoxFor(m => m.NomeOuRazaoSocial, new { @class = "form-control", @maxlength = "80", @placeholder = "Nome/Razão Social" })
                            </div>

                        </div>

                        <div class="row" style="margin-top: 1%;">

                            <div class="col-sm-6 col-lg-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = "200", @placeholder = "E-mail" })
                            </div>

                            <div class="col-sm-3 col-lg-3">
                                @Html.TextBoxFor(m => m.Telefone, new { id = "Telefone", @class = "form-control", @maxlength = "15", @placeholder = "Telefone", @data_mask = "(00) 00000-0000" })
                            </div>

                            <div class="col-sm-3 col-lg-3">
                                @Html.TextBoxFor(m => m.WhatsApp, new { id = "WhatsApp", @class = "form-control", @maxlength = "15", @placeholder = "WhatsApp", @data_mask = "(00) 00000-0000" })
                            </div>

                        </div>

                        <div class="row" style="margin-top:1%;">
                            <div class="col-12">
                                <h5><span class="badge badge-secondary w-100 text-left">DADOS DE ENDEREÇO</span></h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-lg-3">
                                @Html.TextBoxFor(m => m.CEP, new { @class = "form-control", @maxlength = "9", @placeholder = "CEP", @data_mask = "00000-000" })
                            </div>

                            <div class="col-sm-7 col-lg-7">
                                @Html.TextBoxFor(m => m.Endereco, new { @class = "form-control", @maxlength = "200", @placeholder = "Endereço" })
                            </div>

                            <div class="col-sm-2 col-lg-2">
                                @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", @maxlength = "80", @placeholder = "Número" })
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">

                            <div class="col-sm-4 col-lg-4">
                                @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control", @maxlength = "100", @placeholder = "Complemento" })
                            </div>

                            <div class="col-sm-3 col-lg-3">
                                @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", @maxlength = "80", @placeholder = "Bairro" })
                            </div>

                            <div class="col-sm-3 col-lg-3">
                                @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control", @maxlength = "50", @placeholder = "Cidade" })
                            </div>

                            <div class="col-sm-2 col-lg-2">
                                <select id="slcUF" name="uf" class="form-control">

                                    <option selected disabled>UF</option>

                                    @foreach (var itemEstado in Helper.ListarEstados())
                                    {
                                        <option select value="@itemEstado.Codigo">@itemEstado.Sigla</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                }

                <div id="divClienteComCadastro" class="row" style="margin-top: 1%;" >

                    <div class="col-sm-1 col-lg-1">
                        @if (disabled)
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalEmpresa" disabled><i class="fa fa-search fa-lg"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalEmpresa"><i class="fa fa-search fa-lg"></i></button>
                        }
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.RazaoSocial, new { id = "RazaoSocial", @class = "form-control", @maxlength = "150", @placeholder = "Razão Social", @readonly = "readonly", @required = "true" })
                        <input type="hidden" name="idEmpresa" id="idEmpresa" value="@IDEmpresa">
                    </div>

                </div>

                <div id="SC_DadosResponsavel_1" class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO RESPONSÁVEL</span></h5>
                    </div>
                </div>

                <div id="SC_DadosResponsavel_2" class="row" style="margin-top: 1%;">

                    <div class="col-sm-3 col-lg-3">
                        @Html.TextBoxFor(m => m.ResponsavelEmpresaNome, new { id = "ResponsavelEmpresaNome", @class = "form-control", @maxlength = "150", @placeholder = "Nome do Responsável", @readonly = "readonly" })
                    </div>

                    <div class="col-sm-3 col-lg-2">
                        @Html.TextBoxFor(m => m.ResponsavelEmpresaCPF, new { id = "ResponsavelEmpresaCPF", @class = "form-control", @maxlength = "150", @placeholder = "CPF do Responsável", @readonly = "readonly" })
                    </div>

                    <div class="col-sm-3 col-lg-2">
                        @Html.TextBoxFor(m => m.ResponsavelEmpresaTelefone, new { id = "ResponsavelEmpresaTelefone", @class = "form-control", @maxlength = "150", @placeholder = "Telefone do Responsável", @readonly = "readonly" })
                    </div>

                    <div class="col-sm-3 col-lg-5">
                        @Html.TextBoxFor(m => m.ResponsavelEmpresaEmail, new { id = "ResponsavelEmpresaEmail", @class = "form-control", @maxlength = "150", @placeholder = "Email do Responsável", @readonly = "readonly" })
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO PAGAMENTO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-sm-6 col-lg-6">
                        @if (disabled)
                        {
                            <select name="tipoPagamento" id="tipoPagamento" class="form-control" required="" disabled>

                                <option selected disabled>Formas de Pagamento</option>

                                @foreach (var itemTipo in listTiposPagamento)
                                {
                                    @if (newRegister)
                                    {
                                        <option select value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                    else if (Model.TipoPagamento == itemTipo)
                                    {
                                        <option selected value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                    else
                                    {
                                        <option select value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <select name="tipoPagamento" id="tipoPagamento" class="form-control" required="">

                                <option selected disabled>Formas de Pagamento</option>

                                @foreach (var itemTipo in listTiposPagamento)
                                {
                                    @if (newRegister)
                                    {
                                        <option select value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                    else if (Model.TipoPagamento == itemTipo)
                                    {
                                        <option selected value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                    else
                                    {
                                        <option select value="@((int)itemTipo)">@itemTipo.ToDescriptionEnum()</option>
                                    }
                                }
                            </select>
                        }
                    </div>

                    <div class="col-sm-6 col-lg-6">
                        @if (disabled)
                        {
                            <select name="qtdeParcelas" id="qtdeParcelas" class="form-control" required="" disabled>

                                <option selected disabled>Qtde de Parcelas</option>

                                @foreach (var itemQtde in listQtdeParcelas)
                                {
                                    @if (newRegister)
                                    {
                                        <option select value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                    else if (Model.QtdeParcelas == itemQtde)
                                    {
                                        <option selected value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                    else
                                    {
                                        <option select value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <select name="qtdeParcelas" id="qtdeParcelas" class="form-control" required="">

                                <option selected disabled>Qtde de Parcelas</option>

                                @foreach (var itemQtde in listQtdeParcelas)
                                {
                                    @if (newRegister)
                                    {
                                        <option select value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                    else if (Model.QtdeParcelas == itemQtde)
                                    {
                                        <option selected value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                    else
                                    {
                                        <option select value="@((int)itemQtde)">@itemQtde.ToDescriptionEnum()</option>
                                    }
                                }
                            </select>
                        }
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">OBSERVAÇÕES DO PEDIDO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-12 col-lg-12">
                        @Html.TextAreaFor(m => m.Observacao, new { @class = "form-control", @placeholder = "Observações do Pedido", @required = "true" })
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DOS ITENS DO PEDIDO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        @if (disabled)
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalProduto" disabled><i class="fa fa-search fa-lg"></i></button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalProduto"><i class="fa fa-search fa-lg"></i></button>
                        }
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        <input class="form-control" id="ProdutoNome" maxlength="150" name="ProdutoNome" placeholder="Produto" readonly="readonly" required type="text" value="">
                        <input type="hidden" name="idProduto" id="idProduto">
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        @if (disabled)
                        {
                            <input type="number" class="form-control" id="txtQtde" name="qtde" placeholder="Qtde" disabled />
                        }
                        else
                        {
                            <input type="number" class="form-control" id="txtQtde" name="qtde" placeholder="Qtde" />
                        }
                    </div>

                    <div class="col-sm-3 col-lg-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text">R$</span>
                            @if (disabled)
                            {
                                <input type="text" class="form-control" id="txtValor" name="valor" placeholder="Valor" disabled />
                            }
                            else
                            {
                                <input type="text" class="form-control" id="txtValor" name="valor" placeholder="Valor" />
                            }
                        </div>
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        @if (!disabled)
                        {
                            <button type="button" class="btn btn-primary" onclick="adicionarItem();">
                                <i class="fas fa-plus fa-lg"></i> Adicionar
                            </button>
                        }
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-12 col-lg-12">
                        <table id="tblPedidoVendaItens" class="table table-bordered table-hover">
                            <thead>
                                <tr id="header">
                                    <th id="produtoNome">Nome</th>
                                    <th id="qtde">Qtde</th>
                                    <th id="valor">Valor Unitário</th>
                                    <th id="valorTotal">Valor Total</th>
                                    <th style="width:15px;"></th>
                                </tr>
                            </thead>
                        </table>
                        <br />
                        <table style="border: none; width: 100%;">
                            <thead>
                                <tr>
                                    <th style="width:75%; text-align:right; padding-right: 50px;"><strong>Total Pedido</strong></th>
                                    <th><span id="valorTotalPedido">R$ 0,00</span></th>
                                </tr>
                                <tr>
                                    <th style="width:75%; text-align:right; padding-right: 50px;"><strong>Parcelamento</strong></th>
                                    <th><span id="opcaoParcelamento">1x | R$ 0,00</span></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col">
                        <div class="btn-group">
                            <button class="btn btn-primary">
                                <i class="fas fa-save fa-lg"></i> @labelButton
                            </button>
                            <button type="button" onclick="javascript:window.location='/pedidovenda/pedidovenda?idCompany=@idCompany'" class="btn btn-danger">
                                <i class="fas fa-undo fa-lg"></i> Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_BuscarVendedorPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BuscarEmpresaPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BuscarProdutoPartial.cshtml")

@section Scripts{
    <script src="~/js/cadastros/vendedorPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/cadastros/empresaPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/produtos/produtoPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/pedidovenda/pedidoVenda.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/pedidovenda/pedidoVendaItem.js?v=@Helper.GetVersion()"></script>

    <script>
        $(function () {
            $('#txtValor').mask("#.##0,00", { reverse: true });
        });
    </script>
}