@model Sistema.TSTOnline.Web.Models.OrdemServico.OrdemServicoVM
@using Sistema.TSTOnline.Domain.Interfaces
@using Sistema.TSTOnline.Domain.Entities.OrdemServico
@using Sistema.TSTOnline.Domain.Utils;

@inject IRepository<TipoServicoEN> _tipoServicoRepository

@{
    var newRegister = Model == null;
    var labelButton = "Cadastrar Nova Ordem de Serviço";

    if (newRegister)
    {
        ViewData["Title"] = "NOVA ORDEM DE SERVIÇO";
    }
    else
    {
        ViewData["Title"] = "EDITAR ORDEM SERVIÇO";
        labelButton = "Atualizar Ordem Serviço";
    }

    var listTiposServicos = _tipoServicoRepository.All();
    var IDResp = 0;
    var IDLocal = 0;
    var IDEmpresa = 0;

    if (Model != null)
    {
        IDResp = Model.IDResp;
        IDLocal = Model.IDLocal;
        IDEmpresa = Model.IDEmpresa;
    }

}

<form id="frmOrdemServico">
    <div class="container">
        <div class="card">
            <div class="card-body">

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DA ORDEM DE SERVIÇO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-2 col-lg-2">
                        @Html.HiddenFor(m => m.IDOrdemServico, new { id = "idOrdemServico" })
                        @Html.TextBoxFor(m => m.IDOrdemServico, new { @class = "form-control", @placeholder = "Código", @disabled = "disabled" })
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        @Html.TextBoxFor(m => m.DataServico, "{0:yyyy-MM-dd}", new { name = "dataServico", @type = "date", @class = "form-control", @title = "Data da Prestação do Serviço", @data_toggle = "tooltip", @required = "true" })
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO CLIENTE</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalEmpresa"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.RazaoSocial, new { id = "RazaoSocial", @class = "form-control", @maxlength = "150", @placeholder = "Razão Social", @readonly = "readonly", @required = "true" })
                        <input type="hidden" name="idEmpresa" id="idEmpresa" value="@IDEmpresa">
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO TÉCNICO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalResponsavel"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.ResponsavelNome, new { id = "ResponsavelNome", @class = "form-control", @maxlength = "150", @placeholder = "Nome", @readonly = "readonly", @required = "true" })
                        <input type="hidden" name="idResp" id="IDResp" value="@IDResp">
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO LOCAL ONDE SERÁ REALIZADO O SERVIÇO</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">

                    <div class="col-sm-1 col-lg-1">
                        <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#modalLocalServico"><i class="fa fa-search fa-lg"></i></button>
                    </div>

                    <div class="col-sm-11 col-lg-11">
                        @Html.TextBoxFor(m => m.LocalDescricao, new { id = "LocalDescricao", @class = "form-control", @maxlength = "150", @placeholder = "Local", @readonly = "readonly", @required = "true" })
                        <input type="hidden" name="idLocal" id="IDLocal" value="@IDLocal">
                    </div>
                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DO CONTATO</span></h5>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 col-lg-6">
                        @Html.TextBoxFor(m => m.NomeContato, new { id = "NomeContato", @class = "form-control", @maxlength = "45", @placeholder = "Nome", @required = "true" })
                    </div>

                    <div class="col-sm-3 col-lg-3">
                        @Html.TextBoxFor(m => m.Telefone, new { id = "Telefone", @class = "form-control", @maxlength = "15", @placeholder = "Telefone", @required = "true", @data_mask = "(00) 00000-0000" })
                    </div>

                    <div class="col-sm-3 col-lg-3">
                        @Html.TextBoxFor(m => m.WhatsApp, new { id = "WhatsApp", @class = "form-control", @maxlength = "15", @placeholder = "WhatsApp", @required = "true", @data_mask = "(00) 00000-0000" })
                    </div>

                </div>

                <div class="row" style="margin-top:1%;">
                    <div class="col-12">
                        <h5><span class="badge badge-secondary w-100 text-left">DADOS DOS SERVIÇOS QUE SERÃO REALIZADOS</span></h5>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-3 col-lg-3">
                        <select id="slcTipoServico" name="idTipoServico" class="form-control">

                            <option selected value="0" disabled>Escolha o Tipo de Serviço</option>

                            @foreach (var itemTipoServico in listTiposServicos)
                            {
                                <option select value="@itemTipoServico.IDTipoServico">@itemTipoServico.Descricao</option>
                            }

                        </select>
                    </div>

                    <div class="col-sm-7 col-lg-7">
                        <input type="text" class="form-control" id="txtObservacao" name="observacao" placeholder="Observação" />
                    </div>

                    <div class="col-sm-2 col-lg-2">
                        <button type="button" class="btn btn-primary" onclick="adicionarItem();">
                            <i class="fas fa-plus fa-lg"></i> Adicionar
                        </button>
                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col-sm-12 col-lg-12">
                        <table id="tblOrdemServicoItens" class="table table-bordered table-hover">
                            <thead>
                                <tr id="header">
                                    <th id="tipoServicoDescricao">Serviço</th>
                                    <th id="observacao">Observação</th>
                                    <th id="concluido">Concluído ?</th>
                                    <th style="width:15px;"></th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>

                <div class="row" style="margin-top: 1%;">
                    <div class="col">
                        <div class="btn-group">
                            <button class="btn btn-primary">
                                <i class="fas fa-save fa-lg"></i> @labelButton
                            </button>
                            <button type="button" onclick="javascript:window.location='/ordemservico/ordemServico'" class="btn btn-danger">
                                <i class="fas fa-undo fa-lg"></i> Voltar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@await Html.PartialAsync("~/Views/Shared/_BuscarResponsavelPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BuscarLocalServicoPartial.cshtml")
@await Html.PartialAsync("~/Views/Shared/_BuscarEmpresaPartial.cshtml")


@section Scripts{
    <script src="~/js/cadastros/responsavelPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/ordemservico/localServicoPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/cadastros/empresaPesquisa.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/ordemservico/ordemServico.js?v=@Helper.GetVersion()"></script>
    <script src="~/js/ordemservico/ordemServicoItem.js?v=@Helper.GetVersion()"></script>
}